<% include ./partials/header %>

<div class="row">
    <h1 id="heading">Sign Up</h1>
    <div class="user-access">
        <form action="/register" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="adminKey" placeholder="Admin Key">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Sign Up</button>
            </div>
        </form>
        <a href="/campgrounds" class="back-btn">Go Back</a>
    </div>
</div>

<% include ./partials/footer %>
