<% include ../partials/header %>

    <header class="hero">
        <div>
            <h1>Welcome to Camper</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            
            <p>
                <form action="/campgrounds" method="GET" class="form-inline">
                    <div class="form-group">
                        <input type="text" name="search" placeholder="Where would you like to go?" size="46" class="search-bar form-control form-control-sm">
                        
                    </div>
                    <input type="submit" value="Search" class="btn btn-primary search-btn btn-sm">
                </form>
            </p>
        </div>
    </header>
        
        <div class="heading">
            <p>Campgrounds</p>
        </div>
        
        <div class="row text-center" style="display: flex; flex-wrap: wrap;">
            <% campgrounds.forEach(function(campground) { %>
                <div class="col-md-3 col-sm-6">
                    <div class="img-thumbnail">
                         <img src="<%= campground.image %>">
                        <div class="caption">
                            <h4 class="campground-name"><%= campground.name %></h4>
                            <% if (campground.rating === 0) { %>
                                <span class="reviews">No reviews yet.</span>
                            <% } else { %>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"></span>
                                <span class="fa fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"></span>
                            <% } %>
                        </div>
                        <p>
                            <a href="/campgrounds/<%= campground._id %>" class="btn btn-secondary btn-sm">More Info</a>
                        </p>
                    </div>
                </div>
            <% }); %>
    </div>

    

<% include ../partials/footer %>

