/* -------------------------------------------- */
/* CAMPGROUND: SHOW */
/* ------------------------------------------- */
#campground-name {
    text-decoration: none;
}

#delete-form {
    display: inline;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}